<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.school.business.dao.message.MessageMapper">
  <resultMap id="BaseResultMap" type="com.zl.school.business.entity.message.Message">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="eid" jdbcType="VARCHAR" property="eid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="src" jdbcType="VARCHAR" property="src" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <!--<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zl.school.business.entity.message.Message">-->
    <!---->
  <!--</resultMap>-->
  <sql id="Base_Column_List">
    id, eid, title, classname, `describe`, src, `type`, state, create_user, created_time,
    update_user, updated_time, memo,content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_zl_message
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_zl_message
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zl.school.business.entity.message.Message">
    insert into t_zl_message (id, eid, title, 
      classname, `describe`, src,
      `type`, state, create_user,
      created_time, update_user, updated_time, 
      memo, content)
    values (#{id,jdbcType=VARCHAR}, #{eid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{classname,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{src,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{memo,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.school.business.entity.message.Message">
    insert into t_zl_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="classname != null">
        classname,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="src != null">
        src,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.school.business.entity.message.Message">
    update t_zl_message
    <set>
      <if test="eid != null">
        eid = #{eid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        src = #{src,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.school.business.entity.message.Message">
    update t_zl_message
    set eid = #{eid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>