<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.school.business.dao.system.RolePowerMapper">
  <resultMap id="BaseResultMap" type="com.zl.school.business.entity.system.RolePower">
    <id column="eid" jdbcType="VARCHAR" property="eid" />
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <id column="menu_id" jdbcType="VARCHAR" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    eid, role_id, menu_id
  </sql>
  <select id="selectByKey" parameterType="com.zl.school.business.entity.system.RolePower" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_role_power
    where eid = #{eid,jdbcType=VARCHAR}
    and role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zl.school.business.entity.system.RolePower" >
    delete from t_sys_role_power
    where eid = #{eid,jdbcType=VARCHAR}
      and role_id = #{roleId,jdbcType=VARCHAR}
      and menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zl.school.business.entity.system.RolePower">
    insert into t_sys_role_power (eid, role_id, menu_id
      )
    values (#{eid,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zl.school.business.entity.system.RolePower">
    insert into t_sys_role_power
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        eid,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        #{eid,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>