<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.school.business.dao.system.UserMapper">
  <resultMap id="BaseResultMap" type="com.zl.school.business.entity.system.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tele_phone" jdbcType="VARCHAR" property="telePhone" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="age" jdbcType="TIMESTAMP" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifyd_time" jdbcType="TIMESTAMP" property="modifydTime" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="last_eid" jdbcType="VARCHAR" property="lastEid" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId" />
    <result column="ali_user_id" jdbcType="VARCHAR" property="aliUserId" />
    <result column="head_icon" jdbcType="VARCHAR" property="headIcon" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tele_phone, real_name, password, email, age, sex, education, degree, created_time,
    modifyd_time, last_login, last_eid, memo, wx_open_id, ali_user_id,head_icon
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zl.school.business.entity.system.User">
    insert into t_sys_user (id, tele_phone, real_name, 
      password, email, age, sex,
      education, degree, created_time, 
      modifyd_time, last_login, last_eid, 
      memo, wx_open_id, ali_user_id,head_icon
      )
    values (#{id,jdbcType=VARCHAR}, #{telePhone,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{age,jdbcType=TIMESTAMP},  #{sex,jdbcType=INTEGER},
      #{education,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifydTime,jdbcType=TIMESTAMP}, #{lastLogin,jdbcType=TIMESTAMP}, #{lastEid,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{wxOpenId,jdbcType=VARCHAR}, #{aliUserId,jdbcType=VARCHAR}, #{headIcon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zl.school.business.entity.system.User">
    insert into t_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="telePhone != null">
        tele_phone,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="degree != null">
        degree,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifydTime != null">
        modifyd_time,
      </if>
      <if test="lastLogin != null">
        last_login,
      </if>
      <if test="lastEid != null">
        last_eid,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="wxOpenId != null">
        wx_open_id,
      </if>
      <if test="aliUserId != null">
        ali_user_id,
      </if>
      <if test="headIcon != null">
        head_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="telePhone != null">
        #{telePhone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydTime != null">
        #{modifydTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEid != null">
        #{lastEid,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null">
        #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="aliUserId != null">
        #{aliUserId,jdbcType=VARCHAR},
      </if>
      <if test="headIcon != null">
        #{headIcon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.school.business.entity.system.User">
    update t_sys_user
    <set>
      <if test="telePhone != null">
        tele_phone = #{telePhone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydTime != null">
        modifyd_time = #{modifydTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEid != null">
        last_eid = #{lastEid,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null">
        wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="aliUserId != null">
        ali_user_id = #{aliUserId,jdbcType=VARCHAR},
      </if>
      <if test="headIcon != null">
        head_icon = #{headIcon,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.school.business.entity.system.User">
    update t_sys_user
    set tele_phone = #{telePhone,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      age = #{age,jdbcType=TIMESTAMP},
      sex = #{sex,jdbcType=INTEGER},
      education = #{education,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifyd_time = #{modifydTime,jdbcType=TIMESTAMP},
      last_login = #{lastLogin,jdbcType=TIMESTAMP},
      last_eid = #{lastEid,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      ali_user_id = #{aliUserId,jdbcType=VARCHAR},
      head_icon = #{headIcon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getUserByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_user
    where tele_phone = #{arg0}
  </select>
</mapper>